<div style="max-width: 600px; margin: 50px auto; padding: 20px; text-align: center; border: 1px solid #ccc; border-radius: 8px; box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);">
    <h2 style="color: #27ae60;">View Employee Details</h2>
  
    <div style="margin-top: 20px;">
      <div style="margin-bottom: 10px;">
        <label style="font-weight: bold; margin-right: 10px;"><b>First Name:</b></label> {{employee.firstName}}
      </div>
  
      <div style="margin-bottom: 10px;">
        <label style="font-weight: bold; margin-right: 10px;"><b>Last Name:</b></label> {{employee.lastName}}
      </div>
  
      <div style="margin-bottom: 10px;">
        <label style="font-weight: bold; margin-right: 10px;"><b>Email Id:</b></label> {{employee.emailId}}
      </div>
    </div>
  </div>
  